* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.Timer {
  border: solid, grey, 2px;
  background-color: whitesmoke;
  width: 45%;
  display: grid;
  grid-template-areas: 
  ' title . . '
  ' . timer . '
  ' . . delete '
  ' start start start';
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 50%;
  height: 20vh;
}

.Timer-title {
  grid-area: title;
}

.Timer-timer {
  grid-area: timer;
} 

.Timer-delete {
  grid-area: delete;
}

.Timer-start {
  grid-area: start;
}


